@model System.Collections.Generic.List<WiFi.Library.Models.HotSpotReportModel>

@{
    ViewBag.Title = "Najmniejsza liczba użytkowników";
    Layout = "_Layout";
}

<div id="jumbo" class=" my-container jumbotron">
    <h3 class="text-center">TOP 10 - Najmniej wykorzystywanych punktów HOTSPOT</h3>
    <h6 class="text-center">Jak oglądać seriale, to tu.</h6>
</div>

<div class="my-container container">
    <table class="my-table table text-center">
        <thead>
        <tr>
            <th id="annoyingBorder">
                Lokalizacja punktu HotSpot
            </th>
            <th id="annoyingBorder">
                Miesięczna liczba użytkowników
            </th>
        </tr>
        </thead>
        <tbody>

           

        @foreach (var hotSpot in Model)
        {
            <tr>
                <td class="text-left">
                    @hotSpot.LocationName
                </td>
                <td class="text-center">
                    @hotSpot.CurrentHotSpotUsers
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
