<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - seeWifi</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/layoutStart.css" />
</head>
<body>
    <header>
        <div class=" mt-5 container text-left" style="max-width: 1200px;">

            <img src="Images/StartPageLayout2010/logo.png" alt="Logo Projektu" style="max-width:300px">

        </div>

        <div class="container  rounded pb-2 mt-5" style="max-width: 1200px;" id="webDescription">
            <h3 class="text-center mb-2">Witaj strudzony wędrowcze!</h3>
            <p class="text-justify mb-2 d-none d-md-block">
                Tu jest super tekst zachęzający do korzystania z apki, który nie wyświtla się jeśli urządnie na którym pracujemy jest telefonem, pomniejsz ekran jeśli chcesz to zobaczyć. 
            </p>
            <p class="text-center">
                Co Chcesz zrobić ze swoimi punktami HOTSPOT?
            </p>
        </div>

        <conteiner class="text-center p-5">
            <nav>

                <div>
                    <a class="nav-item" asp-area="" asp-controller="HotSpotDisplay" asp-action="Index">
                        <img src="Images/StartPageLayout2010/allb.png" alt="Lista Wszystkich HotSpotów">
                        <p>Wszystkie</p>
                    </a>
                </div>
                <div>
                    <a class="nav-item " asp-area="" asp-controller="Home" asp-action="Privacy">
                        <img src="Images/StartPageLayout2010/nearestb.png" alt="Najbliższy HotSpot">
                        <p>Najbliższy</p>
                    </a>
                </div>

                <div>
                    <a class="nav-link text-dark" asp-area="" asp-controller="AddHotSpot" asp-action="Index">
                        <img src="Images/StartPageLayout2010/addb.png" alt="Dodaj HotSpot">
                        <p>Dodaj</p>
                    </a>
                </div>

                <div>
                    <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <img src="Images/StartPageLayout2010/editb.png" alt="Edytuj punkty HotSpot">
                        <p>Edytuj</p>
                    </a>
                </div>

                <div>
                    <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <img src="Images/StartPageLayout2010/suspectsb.png" alt="Podejrzane punkty HotSpot">
                        <p>Podejrzane</p>
                    </a>
                </div>
            </nav>
        </conteiner>

    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - seeWifi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
