@model System.Collections.Generic.List<seeWifi.Models.HotSpotModel>

@{
    ViewBag.Title = "List of Hotspots";
    Layout = "_Layout";
}
<h2>List of Hotspots</h2>

<script type='text/javascript'
        src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Aq1d61Jw4x4MYNoxuz2RwCqOWoBhSwj24oLJkqVBCdMrYVB7-21yCo9R9FtGWAmk'
        async defer></script>
<script type='text/javascript'>




    function GetMap() {
        try {
            var map = new Microsoft.Maps.Map('#myMap', {
                credentials: 'Aq1d61Jw4x4MYNoxuz2RwCqOWoBhSwj24oLJkqVBCdMrYVB7-21yCo9R9FtGWAmk',
                center: new Microsoft.Maps.Location(54.353142, 18.65119),
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                zoom: 10
            });
            loadPins();
        } catch (e) {
            alert(e.message);
        }

    }
</script>
<div id="myMap" style='position:relative;width:600px;height:400px;'></div>






