@model HotSpotModel

@{
    ViewBag.Title = "Szczegóły hotspotów";
    Layout = "_Layout";
}
<h2>Szczegóły Hotspot</h2>

<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<div class="col-md-8">
    <div id="simpleMap" style="min-height: 350px"></div>
</div>
<div class="container">
<form asp-antiforgery="true" asp-controller="HotSpot" asp-action="UpdateResult" asp-route-id="@Model.Number"method="post">
    <div class="form-group">
        <div class="form-control">
            <label asp-for="LocationName">Lokalizacja:</label>
            <input asp-for="LocationName" id="xlocation"/>
            <span asp-validation-for="LocationName"  class="text-danger"></span>
        </div>
        <div class="form-control">
            <label asp-for="LatitudeX">Szerokość Geograficzna:</label>
            <input asp-for="LatitudeX" id="xlatitude"/>
            <span asp-validation-for="LatitudeX" class="text-danger"></span>
        </div>
        <div class="form-control">
            <label asp-for="LongitudeY">Długość Geograficzna:</label>
            <input asp-for="LongitudeY" id="ylongitude" />
            <span asp-validation-for="LongitudeY" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-success">OK</button>
    <button type="reset" class="btn btn-danger">Reset</button>
</form>
</div>