@model System.Collections.Generic.List<WiFi.Library.Models.HotSpotModel>

@{
    ViewBag.Title = "Ulubione Hotspoty";
    Layout = "_Layout";
}
<div id="jumbo" class=" my-container jumbotron">
    <h3 class="text-center">Ulubione Hotspoty</h3>
</div>
<div class="my-container container">
    <table class="my-table table text-center">
        <thead>
            <tr>
                <th class="text-left" id="annoyingBorder">
                    Lokalizacja HotSpot:
                </th>
                <th class="text-center">
                    Szerokość Geograficzna:
                </th>
                <th class="text-center">
                    Długość Geograficzna:
                </th>
                <th id="annoyingBorder"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotSpot in Model)
            {
                <tr>
                    <td class="text-left">
                        @hotSpot.LocationName
                    </td>
                    <td class="text-center">
                        @hotSpot.LatitudeX
                    <td class="text-center">
                        @hotSpot.LongitudeY
                    </td>
                    <td>
                        <a asp-controller="HotSpot" asp-action="DeleteFavorite"
                           asp-route-id="@hotSpot.Number"><span class="btn btn-warning">★</span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>