@model System.Collections.Generic.List<WiFi.Library.Models.HotSpotModel>

@{
    ViewBag.Title = "Ulubione Hotspoty";
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div id="jumbo" class=" my-container jumbotron">
    <h3 class="text-center">Ulubione Hotspoty</h3>
</div>
<div class="my-container container">
    <table class="my-table table text-center">
        <thead>
            <tr>
                <th class="text-left" id="annoyingBorder">
                    Lokalizacja HotSpot:
                </th>
                <th class="text-center">
                    Szerokość Geograficzna:
                </th>
                <th class="text-center">
                    Długość Geograficzna:
                </th>
                <th id="annoyingBorder">
                    Usuń
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotSpot in Model)
            {
                <tr>
                    <td class="text-left">
                        @hotSpot.LocationName
                    </td>
                    <td class="text-center">
                        @hotSpot.LatitudeX.Substring(0, 8)
                    <td class="text-center">
                        @hotSpot.LongitudeY.Substring(0, 8)
                    </td>
                    <td>
                        <a asp-controller="HotSpot" asp-action="DeleteFavorite"
                           asp-route-id="@hotSpot.Number"><i class="my-red fas fa-star"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>