@model System.Collections.Generic.List<WiFi.Library.Models.HotSpotModel>

@{
    ViewBag.Title = "List of Hotspots";
    Layout = "_Layout";
}
@{var serializedContent = Json.Serialize(Model);}

<script type="text/javascript">var testVar12 = @serializedContent;</script>
<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" src="~/js/DisplayScript.js"></script>


<div class="row">
<div class="col-md-8">
    <div id="simpleMap" style="min-height: 350px"></div>
</div>
</div>

