@using Microsoft.CodeAnalysis.CSharp.Syntax
@model System.Collections.Generic.List<WiFi.Library.Models.HotSpotModel>

@{
    ViewBag.Title = "List of Hotspots";
    Layout = "_Layout";
}
@{var serializedContent = Json.Serialize(Model);}

<script type="text/javascript">var testVar12 = @serializedContent;</script>
<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" src="~/js/DisplayScript.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<div class="row" >
    <div class="container col-md-8 mb-3">
        <div id="simpleMap" style="min-height: 350px"></div>
    </div>
</div>


<div id="jumbo" class=" my-container jumbotron">
    <h3 class="text-center">Lista Hotspotów</h3>
</div>
<div class="my-container container">
    <table class="my-table table text-center">
        <thead>
            <tr>
                <th class="text-left" id="annoyingBorder">
                    Lokalizacja HotSpot:
                </th>
                <th class="text-center">
                    Szerokość Geograficzna:
                </th>
                <th class="text-center">
                    Długość Geograficzna:
                </th>
                <th id="annoyingBorder"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotSpot in Model)
            {
                <tr>
                    <td class="text-left">
                        @hotSpot.LocationName
                    </td>
                    <td class="text-center">
                        @hotSpot.LatitudeX.Substring(0, 8)
                    <td class="text-center">
                        @hotSpot.LongitudeY.Substring(0, 8)
                    </td>
                    <td class="star">
                        <a asp-controller="HotSpot" asp-action="MarkingHotSpotAsFavorite"
                           asp-route-id="@hotSpot.Number">
                            <div>
                                @{if (hotSpot.FavoriteHotSpot)
                                  {
                                      <i class="fas fa-star my-listStar"></i>
                                  }
                                  else if (hotSpot.FavoriteHotSpot == false)
                                  {
                                      <i class="far fa-star my-listStar"></i>
                                  }
                                }
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
