@model System.Collections.Generic.List<WiFi.Library.Models.HotSpotModel>

@{
    ViewBag.Title = "List of Hotspots";
    Layout = "_Layout";
}
@{var serializedContent = Json.Serialize(Model);}

<script type="text/javascript">var testVar12 = @serializedContent;</script>
<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" src="~/js/DisplayScript.js"></script>


<div class="row">
    <div class="col-md-8">
        <div id="simpleMap" style="min-height: 350px"></div>
    </div>
</div>
<div class="my-container container">
    <table class="my-table table text-center">
        <thead>
            <tr>
                <th class="text-left">
                    Lokalizacja HotSpot:
                </th>
                <th class="text-center">
                    Szerokość Geograficzna:
                </th>
                <th class="text-right">
                    Długość Geograficzna:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotSpot in Model)
            {
                <tr>
                    <td class="text-left">
                        @hotSpot.LocationName
                    </td>
                    <td class="text-center">
                        @hotSpot.LatitudeX
                    <td class="text-right">
                        @hotSpot.LongitudeY
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



