/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.my-container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
}
#annoyingBorder {
  border-top:none
}

#jumbo {
  padding: 10px;
}

.my-table {
  border-radius: 25px;
}

.my-dropdown {
  background: rgb(130, 188, 249);
  border: none

}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

  a.navbar-brand:hover {
    transform: scale(1.1, 1.1);
  }


.nav-item:hover {
  transform: scale(1.1, 1.1);
}

.nav-item {
  text-align: left
}

.navbar {
  background: rgb(130, 188, 249)
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid rgb(130, 188, 249);
}

.border-bottom {
  border-bottom: 1px solid rgb(130, 188, 249);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgb(130, 188, 249);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("../Images/StartPageLayout2010/beachLong.png");
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

a > img {
  max-width: 25px;
}

#logo {
  max-width: 100px;
}
